@model List<mvcHomework1.ViewModels.MoneyRecordViewModel>

<div class="row">
    <div class="col-md-12">
        <table class="table table-bordered table-hover">
            <tr>
                <th>#</th>
                <th>類別</th>
                <th>日期</th>
                <th>金額</th>
            </tr>
            @if (Model != null)
            {
                int i = 1;
                foreach (var modelitem in Model)
                {
                    <tr>
                        <td>@(i++)</td>
                        <td>@modelitem.IncomeExpense</td>
                        <td>@modelitem.PostTime.ToString("yyyy-MM-dd")</td>
                        <td>@modelitem.Amount.ToString("#,#")</td>
                    </tr>
                }
            }
        </table>
    </div>
</div>